<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <title>Maxence Lequeux</title>
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="icon" href="/img/icon.png">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div id="app-container">
            <header class="landscape">
                <div id="links">
                    <a href="/?lang={{ lang }}" {% if page == "home" %} class="active-page" {% endif %}>{{ text.header.home }}</a>
                    <a href="/background?lang={{ lang }}" {% if page == "background" %} class="active-page" {% endif %}>{{ text.header.my_background }}</a>
                    <a href="/cv?lang={{ lang }}" {% if page == "cv" %} class="active-page" {% endif %}>{{ text.header.cv }}</a>
                    <a href="/articles?lang={{ lang }}" {% if page == "articles" %} class="active-page" {% endif %}>{{ text.header.articles }}</a>
                    <a href="/contact?lang={{ lang }}" {% if page == "contact" %} class="active-page" {% endif %}>{{ text.header.contact_me }}</a>
                    <div id="lang-button">
                        <div id="lang-toggle">
                            {{ lang }}
                            <img src="/img/arrow_down.svg"></img>
                        </div>
                        <div id="lang-dropdown" class="hidden">
                            <p data-lang="fr">Français</p>
                            <p data-lang="en">English</p>
                        </div>
                    </div>
                </div>
            </header>
            <div id="page-container">
                {% block content %}{% endblock %}
            </div>
        </div>
            
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="/js/global.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>