{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/contact.css" type="text/css">
{% endblock %}

{% block content %}
    
{% endblock %}

{% block js %}
    <script src="/js/contact.js"></script>
{% endblock %}