{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/main.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="hero-container">
        <div id="hero">
            <div id="left-part">
                <h2 id="job">{{ text.web_developer }}</h2>
                <img id="me" src="/img/me.png">
            </div>
            <div id="right-part">
                <div id="about-me">
                    <h1 id="name">Maxence <span id="lastname">Lequeux</span></h1>
                    <div id="qualities">
                        {% for quality in text.qualities %}
                            <h2 data-text="{{ quality }}"> </h2>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <a id="discover" href="/background?lang={{ lang }}">{{ text.discover_my_background }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/js/main.js"></script>
{% endblock %}