@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,  #aa00ff, 60%, #304ffe);
    background-attachment: fixed;
    background-size: cover;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(45deg,  #aa00ff, 60%, #304ffe) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header.landscape {
    position: fixed;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 70%;
    padding-top: 8px;
    background: linear-gradient(45deg,  #aa00ff, 60%, #304ffe);
    background-attachment: fixed;
}

#links {
    height: 100%;
    min-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header.landscape a, header.landscape #lang-button {
    position: relative;
    font-family: Roboto;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    margin-left: 10px;
}

header.landscape a.active-page {
    color: #ffca28;
}

header.landscape a.active-page::after {
    content: ".";
    color: #ffca28;
    position: absolute;
    left: 45%;
    font-size: 50px;
}

header.landscape a:hover::after {
    content: ".";
    color: inherit;
    position: absolute;
    left: 45%;
    font-size: 50px;
}

#app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

#page-container {
    padding-top: 100px;
    height: 80%;
    width: 70%;
}

#lang-button {
    position: relative;
}

#lang-toggle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lang-button img {
    width: 15px;
}

#lang-dropdown {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid #707070;
    top: 1Opx;
    right: 0;
    font-family: Roboto;
    z-index: 999;
}

#lang-dropdown p {
    padding: 10px 20px;
    margin: 0;
}

#lang-dropdown p:hover {
    background-color: #c7c7c7;
}

#lang-dropdown.hidden {
    visibility: hidden;
}

@media (orientation: landscape){
    @media (max-width: 1536px), (max-height: 864px){
        html, body {
            font-size: 80%;
        }
    }
    
    @media (max-width: 1152px), (max-height: 648px){
        html, body {
            font-size: 60%;
        }
    }
    
    @media (max-width: 768px), (max-height: 432px){
        html, body {
            font-size: 40%;
        }
    }
    
    @media (max-width: 384px), (max-height: 216px){
        html, body {
            font-size: 20%;
        }
    }
}

@media (orientation: portrait){
    header.landscape {
        display: none;
    }
}

@media (orientation: landscape){
    header.portrait {
        display: none;
    }
}
