#app-container {
    animation: no-overflow-while-slide 0.5s step-end;
}

#hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lastname {
    color: #ffca28;
}

#hero {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#job {
    width: min-content;
    font-size: 2.3rem;
    white-space: pre;
    font-family: Roboto;
    color: white;
    animation: slide2 0.5s linear;
}

#me {
    height: 60%;
    animation: zoom 0.5s linear;
}

#left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-family: Roboto;
}

#right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    font-family: Roboto;
    animation: slide 0.5s linear;
    margin-left: 10%;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
}

#name {
    font-size: 4.5rem;
}

#discover {
    display: block;
    cursor: pointer;
    color: white;
    padding: 15px;
    background-color: black;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: calc(15px + 0.75rem);
    font-family: Roboto;
    border: 2px solid black;
}

#discover:hover {
    border-color: white;
}

#qualities > * {
    width: min-content;
    font-size: 2.25rem;
    opacity: 90%;
    white-space: pre;
}

.has-cursor {
    border-right: 2px solid;
    animation: cursor 0.75s step-end infinite;
}

@keyframes cursor {
    from, to {
        border-color: transparent;
    }

    50%  {
        border-color: white;
    }
}

@keyframes zoom {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}

@keyframes slide {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(-50vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes no-overflow-while-slide {
    from {
        overflow: hidden;
    }

    to {
        overflow: scroll;
    }
}

@media (orientation: portrait){
    #hero {
        flex-direction: column;
        align-items: center;
    }

    #discover {
        margin: 20px;
        font-size: 3rem;
    }

    #me {
        width: 50%;
        height: auto;
    }

    #job {
        font-size: 5rem;
    }

    #left-part {
        height: auto;
    }

    #right-part {
        height: 40%;
        flex-shrink: 0;
        margin: 0;
        align-items: center;
    }

    #name {
        font-size: 9rem;
        text-align: center;
    }

    #about-me {
        align-items: center;
    }

    #qualities > *{
        font-size: 4rem;
    }

    #qualities {
        margin-bottom: 20px;
    }
}
